body {
  /* geral */
  background-color: #f7f6f2;
  color: #e43c13;
  font-family: "Montserrat Alternates", sans-serif;

  /* estilos texto */
  h1 {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 120px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
    line-height: 130%;
  }

  h2 {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 80px;
    font-weight: bold;
    text-align: left;
    line-height: 130%;
  }

  h3 {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 48px;
    font-weight: 600;
    text-align: left;
    line-height: 150%;
  }

  h4 {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 32px;
    font-weight: 600;
    text-align: left;
    line-height: 150%;
  }

  .p1 {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    line-height: 150%;
  }

  .p2 {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    line-height: 150%;
  }

  .p3 {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    line-height: 150%;
  }

  .p4 {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    line-height: 150%;
  }





  /*Navbar*/

  /*Navbar geral*/
  nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-content: center;
    align-items: center;
    padding: 0;
    margin-left: 32px;
    margin-right: 32px;
  }

  .navLeft {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  

.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  width: 48px;
  height: 48px;
  align-content: center;
  align-items: center;
}



.hamburger-menu img{
  width: 48px;
  height: 48px;
}

.menu-toggle {
  display: none; /* Navbar Hidden checkbox hamburguer */
}


  .navLogo {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .navRight {
    flex: 0;
    margin-left: 280px;
  }

  nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
  }

  nav ul li {
    margin-right: 40px;
    text-align: left;
  }

  nav ul li a {
    color: #e43c13;
    text-decoration: none;
    text-align: left;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 20px;
    font-weight: 600;
  }

  nav ul li a:hover {
    color: #9a341c;
  }

   /* Navbar Responsive styles */

 @media (max-width: 1024px) {
  
  .hamburger-menu {
    display: block;
    margin-right: 240px;
  }

  .navLeft {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    background-color: #f7f6f2;
    width: 100%;
    height: 200px;
    text-align: left;
    box-sizing: border-box;
    z-index: 1000;
  }

  .menu-toggle:checked + .hamburger-menu + .nav-links {
    display: flex;
  }

  .navLeft a {
    font-size: 16px;
    text-align: left;
  }
}

@media (max-width: 768px) {

  .hamburger-menu {
    margin-right: 60px;
  }

  .navLeft {
    width: 100%;
  }

  .navLeft li {
    margin: 0;
  }

  .navLogo img {
    width: 48px;
  }

  .navRight {
    margin-left: 60px;
  }
}

 
  /* padding */
  .padding {
    height: 120px;
  }

  /* hero */
  .herosection {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 600px;
    width: 100%;
    background-image: url("hero.png");
    background-size: 100%;
    margin-top: auto;
    background-repeat: no-repeat;
  }

  .herosection h1{
    padding-top: 600px;
    padding-bottom: 16px;
  }
  
  @media (max-width: 1440px) {
    .herosection{
      height: 800px;
      width: auto;
    }
  }

  @media (max-width: 1300px) {
    .herosection{
      height: 600px;
      width: auto;
    }

    .herosection h1{
      padding-top: 400px;
      padding-bottom: 80px;
    }
  }


  @media (max-width: 1024px) {
    .herosection{
      height: 450px;
      width: auto;
    }

    .herosection h1{
      font-size: 64px;
      padding-top: 300px;
      padding-bottom: 40px;
    }
  }



  @media (max-width: 768px) {
    .herosection{
      background-image: url("heromobile.png");
      height: 600px;
      width: 100%;
    }

    .herosection h1{
      font-size: 48px;
      padding-top: 200px;
      padding-bottom: 24px;
    }

  }

  @media (max-width: 648px) {
    .herosection{
      background-image: url("heromobile.png");
      height: 500px;
      width: 100%;
    }

    .herosection h1{
      font-size: 48px;
      padding-top: 200px;
      padding-bottom: 24px;
    }

  }



  /* filtro loja landing */
  .filtroloja {
    display: flex;
    justify-content: center;
    padding-bottom: 64px;
  }

  .filtroloja ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 60px;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 0px;
    flex-direction: row;

  }

  .filtroloja ul li {
    margin: 0 24px;
    padding: 0;
  }

  .filtroloja ul li a:hover {
    color: #9a341c;
  }

  .cormenu {
    /* sem seleção */
    color: #f0a491;
  }

  @media (max-width: 768px) {

    .filtroloja{
      padding-bottom: 48px;
    }

    .filtroloja ul{
    flex-direction: column;
    align-items: center;
    height: auto;
    }

    .filtroloja ul li h3{
      font-size: 32px;
    }
  }

  @media (max-width: 1024px) {
  
    .filtroloja ul li h3{
      font-size: 32px;
    }
  }

  /* card loja */

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .card-container {
    display: flex;
    justify-content: space-between;
    margin-left: 32px;
    margin-right: 32px;
    padding-bottom: 24px;
  }

  .card {
    width: calc(33.3% - 16px);
    border: 2px solid #e43c13;
    padding: 16px;
    box-sizing: border-box;
  }

  .card-image {
    width: 100%;
    padding-top: 100%; /* Põe a imagem quadrada */
    position: relative;
    overflow: hidden;
  }

  .card-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .card-image:hover img {
    transform: scale(1.10);
  }

  .card-content {
    display: flex;
    flex-direction: column;
  }

  .card-text1 {
    margin-bottom: 4px;
    margin-top: 16px;
    font-size: 24px;
    font-weight: 600;
  }

  .card-text2 {
    margin-bottom: 16px;
    margin-top: 4px;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    height: 40px;
  }

  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 8px;
  }

  .price {
    font-size: 16px;
    font-weight: bold;
  }

  .card-button {
    border: 2px solid #e43c13;
    padding: 8px 16px;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    color: #e43c13;
    font-size: 16px;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
  }

  .card-button:hover {
    background-color: #eee5e3;
  }


  @media (max-width: 1024px) {

    .card-container{
      flex-direction: column;
      align-items: center;
      height: auto;
      margin-left: 120px;
      margin-right: 120px;
    }

    .card {
      width: calc(100%);
      border: 2px solid #e43c13;
      padding: 16px;
      box-sizing: border-box;
      margin-bottom: 16px;
    
    }
   
  }

  @media (max-width: 768px) {

    .card-container{
      flex-direction: column;
      align-items: center;
      height: auto;
    }

    .card {
      width: calc(100%);
      border: 2px solid #e43c13;
      padding: 16px;
      box-sizing: border-box;
      margin-bottom: 16px;
    }

    .card-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 16px;
      margin-bottom: 8px;
    }
   
  }




  /* secção texto e imagem */
  .textimage-container {
    display: flex;
    margin-left: 32px;
    margin-right: 32px;
    padding-bottom: 120px;
    padding-top: 96px;
    width: calc(100% - 64px);
  }

  .landing-text {
    flex: 1;
    box-sizing: border-box;
    text-align: left;
    padding-right: 16px;
  }

  .landing-text h2 {
    margin-bottom: 24px;
  }

  .landing-image {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .landing-image img {
    height: 672px;
    width: 448px;
    margin-left: 120px;
    margin-right: 120px;
    object-fit: cover;
  }

  @media (max-width: 1024px) {

    .textimage-container{
      flex-direction: column;
      align-items: center;
      height: auto;
    }

    .landing-text h4 {
      padding-bottom: 40px;
    }
  }


  @media (max-width: 768px) {

    .textimage-container{
      flex-direction: column;
      align-items: center;
      height: auto;
    }

    .landing-text h2 {
      font-size: 48px;
    }

    .landing-text h4 {
      font-size: 24px;
      padding-bottom: 40px;
    }
  }

  /* secção menu produtos */
  .menuprodutos {
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 120px;
  }

  .linha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 108px;
    border-bottom: 2px solid #e43c13;
    padding: 0 16px;
    box-sizing: border-box;
  }

  .nomeproduto {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  .botao-mais {
    height: 40px;
    width: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .botao-mais img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  } 

  @media (max-width: 768px) {

    .nomeproduto h3 {
      font-size: 24px;
    }

    .linha{
      height: 80px;
    }
  }

  
  /* secção footer */
  .footer {
    padding-top: 64px;
    padding-bottom: 48px;
    background-color: #e43c13;
    height: 536px;
    width: auto;
    color: #eee5e3;
    text-align: center;
  }

  .footer h2 {
    text-align: center;
    margin: 0;
    padding-bottom: 32px;
  }

  .footer img {
    display: block;
    margin: 0 auto;
    width: 124px;
    padding-bottom: 120px;
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 32px;
    color: #eee5e3;
  }

  .footer-bottom ul {
    list-style: none;
  }

  .footer-bottom-2 {
    display: flex;
    justify-content: space-between;
    width: 300px;
    align-items: center;
    margin-right: 32px;
    color: #eee5e3;
  }

  .footer-bottom-2 ul li {
    text-align: right;
  }


  @media (max-width: 768px) {

    .footer h2 {
      font-size: 32px;
    }

    .footer img {
      display: block;
      margin: 0 auto;
      width: 88px;
      padding-bottom: 120px;
    }

    .footer-bottom {
      flex-direction: column;
      align-items: center;
      height: auto;
    }

    .footer-bottom ul{
      padding-bottom: 40px;
      width: 360px;
    }

    .footer-bottom ul li {
      font-size: 16px;
      text-align: left;
    }

    .footer-bottom-2{
      width: 360px;
      margin-right: 0;
    }

    .footer-bottom-2 ul li {
      font-size: 16px;
      text-align: left;
    }

  }

  @media (max-width: 1024px) {

    .footer-bottom ul{
      padding-bottom: 40px;
      width: 360px;
    }

    .footer-bottom ul li {
      font-size: 16px;
    }

    .footer-bottom-2 ul li {
      font-size: 16px;
    }

  }

  /* sobe nós texto */
  .sobretext {
    padding-left: 32px;
    padding-top: 32px;
    padding-bottom: 40px;
    text-align: center;
  }

  .sobretext h2 {
    text-align: center;
    width: 1144px;
    margin: 0 auto;
    padding-bottom: 24px;
  }

  .sobretext h4 {
    text-align: center;
    width: 1144px;
    margin: 0 auto;
  }

  /* sobe nós imagem */
  .sobreimg {
    padding-bottom: 120px;
  }

  .sobreimg img {
    width: 100%;
    height: auto;
  }

  /* sobe nós equipa */

  .equipa {
    display: flex;
    justify-content: space-between;
    margin-left: 32px;
    margin-right: 32px;
    padding-bottom: 160px;
  }

  .equipa-membro {
    width: calc(25% - 16px);
    box-sizing: border-box;
  }

  .equipa-foto {
    width: 100%;
    height: auto;
    position: relative;
  }

  .equipa-foto img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .equipa-texto1 p {
    margin-bottom: 8px;
    margin-top: 24px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }

  .equipa-texto2 p {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
  }
}

/* secção contacto */
.contacto-container {
  display: flex;
  margin-left: 148px;
  margin-right: 148px;
  padding-bottom: 120px;
  padding-top: 120px;
  width: calc(100% - 296px);
}

.contacto-text {
  flex: 1;
  box-sizing: border-box;
  text-align: left;
  padding-right: 16px;
}


.contacto-text h2 {
  margin-bottom: 24px;
}

/* secção contacto - formulário */

.contacto-form {
  flex: 1;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacto-form label {
  height: 672px;
  width: 448px;
  object-fit: cover;
}


/* Custom style para o formulário */
.form-control {
  background-color: #F7F6F2; /* Light gray background color */
  color: #E43C13; /* Text color */
  border: 2px solid #E43C13; /* Border color */
  font-size: 16px; /* Font size */
  padding: 8px; /* Padding to increase the size */
  width: 448px;
  height: 40px;
  border-radius: 10px;
}

.form-control:focus {
  border-color: #9A341C;
  box-shadow: 0 0 5px rgba(236, 103, 103, 0.5);
}

.caixa-grande {
  height: 160px;
  margin-bottom: 8px;
}

/* Custom style para o botão */
.custom-button {
background-color: #E43C13;
color: #F7F6F2;
width: 448px;
height: 40px;
border: none;
border-radius: 10px;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
font-size: 16px;
cursor: pointer;
justify-content: center;
}

.custom-button:hover {
background-color: #9A341C;
}


/* secção produto */
.produto-container {
  display: flex;
  margin-left: 148px;
  margin-right: 148px;
  padding-bottom: 120px;
  padding-top: 96px;
  width: calc(100% - 296px);
}

.produto-text {
  flex: 1;
  box-sizing: border-box;
  text-align: left;
}

.produto-text h4 {
  margin-bottom: 120px;
}

.produto-image {
  flex: 1;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.produto-image img {
  height: 600px;
  width: 600px;
  margin-left: 120px;
  margin-right: 120px;
  object-fit: cover;
}
